/* TODO: use CSS preprocessors */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}

.list-items {
  max-width: 50%;
}

.list-items span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #A9A9A9;
}

.list-items ul{
  line-height: 3rem;
}

.list-items li {
  border-bottom: 1px solid #A9A9A9;
  padding: 0 1rem;
  list-style: none;
}

.label {
  color: #1C6C95;
  text-decoration: none;
}

.label:hover {
  border-bottom: 1px solid;
}

.footer {
  position: absolute;
  bottom: 0px;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem;
}